.navbar {
  height: 100px;

  .wrapper {
    padding-top:15px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 60px;
    }

    span {
      font-weight: bold;
    }
    .social {
      display: flex;
      gap: 20px;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
